<div class="row" id="product_content">
<?php if($content["advertisment"]):?>
	<div id="advertisment" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
	Тут может быть Ваша реклама.
	</div>
	<div id="display-product" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
<?php else:?>
	<div id="display-product" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<?php endif;?>	
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="product_head" style="margin-top:20px;clear:both;">
			<div id="product_image" style="float:left; margin: 0 15px 15px 0; width:400px;">
				<?=$content["images"]?>
			</div>
			<div>
				<h1><?=$content["product_name"];?></h1>
			</div>
			<?php if(isset($content["price"]) && $content["price"]):?>
			<div>
				<h2><?=$content["price"];?> грн.</h2>
			</div>	
			<?php endif;?>
			<div>
				<h2><?=$content["manufacturer"];?></h2>
			</div>	
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="product_params">
		<!--<div style="clear:both;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="product_params">-->
			<p><?=$content["params"]; ?></p>
		</div>
		<div style="clear:both;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="product_description">
			<p><?=$content["description"];?></p>
		</div>
	</div>
</div>