<form class="form-horizontal" role="form" method="post" action="<?php echo SUB_DIR; ?>admin/config">
	<ul class="nav nav-tabs">
	<?php foreach($content as $tab=>$group): ?>
	<?php if($tab!='error'): ?>
	<li<?php echo (($tab=='database')?' class="active"':''); ?>><a href="#<?php echo $tab; ?>" data-toggle="tab"><?php echo ucfirst($tab); ?></a></li>	
	<?php endif; ?>
	<?php endforeach; ?>
	</ul>
	<div class="tab-content admin-config-tab">
	<?php foreach($content as $tab=>$group): ?>
	<?php if($tab!='error'): ?>
	<div class="tab-pane<?php echo (($tab=='database')?' active':''); ?>" id="<?php echo $tab; ?>">
		<?php foreach($group as $param=>$value): ?>
			<?php echo $value; ?>
		<?php endforeach; ?>
	</div>
	<?php endif; ?>
	<?php endforeach; ?>
	</div>
	<input type="hidden" name="flag" value="1">
	<div class="form-group remember">
		<div class="admin-config-safe col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">
			<button tabindex="4" type="submit" class="btn btn-success"><?php echo ADMIN_SAVE_BUTTON_TITLE; ?></button>
		</div>
	</div>
</form>
<script>
$('#nav-tabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>