<div class="row admin-config-tab">
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
		<ul class="nav nav-pills nav-stacked">
			<li><a href="<?php echo SUB_DIR; ?>admin/config" class="link"><?php echo ADMIN_MENU_TITLE_CONFIG; ?></a></li>
			<li><a href="<?php echo SUB_DIR; ?>admin/menu" class="link"><?php echo ADMIN_MENU_TITLE_MENU; ?></a></li>
			<li><a href="<?php echo SUB_DIR; ?>admin/acl" class="link"><?php echo ADMIN_MENU_TITLE_ACL; ?></a></li>
			<li><a href="<?php echo SUB_DIR; ?>admin/users" class="link"><?php echo ADMIN_MENU_TITLE_USERS; ?></a></li>
			<li><a href="<?php echo SUB_DIR; ?>admin/pages" class="link"><?php echo ADMIN_MENU_TITLE_PAGES; ?></a></li>
			<li><a href="<?php echo SUB_DIR; ?>admin/shop" class="link"><?php echo ADMIN_MENU_TITLE_SHOP; ?></a></li>
			<li><a href="<?php echo SUB_DIR; ?>admin/products" class="link"><?php echo ADMIN_MENU_TITLE_PRODUCTS; ?></a></li>
		</ul>
	</div>
	<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
		<?=$content;?>
	</div>
</div>