<form class="form-horizontal" role="form" method="post" enctype="multipart/form-data" action="<?php echo SUB_DIR; ?>admin/page/<?php echo $content["id"]; ?>">
	<div class="tab-content admin-page-tab">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#general" data-toggle="tab"><?php echo ADMIN_PAGE_TITLE_GENERAL; ?></a></li>
			<li><a href="#images" data-toggle="tab"><?php echo ADMIN_PAGE_TITLE_IMAGES; ?></a></li>
		</ul>

		<div class="tab-pane active" id="general">
			<input type="hidden" name="id" value="<?php echo $content["id"]; ?>">
			<div class="form-group">
				<label for="page_visible" class="col-sm-2 control-label"><?php echo ADMIN_PAGE_TITLE_VISIBLE; ?></label>
				<div class="col-sm-10">
					<label class="checkbox-inline">
						<input type="checkbox" name="is_visible" value="1"<?php echo (($content["is_visible"])?' checked':''); ?> class="form-control" id="page_visible">
					</label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"><?php echo ADMIN_PAGE_TITLE_ALIAS; ?></label>
				<div class="col-sm-10">
					<input required class="form-control" name="alias" value="<?php echo $content["alias"]; ?>" placeholder="Alias">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"><?php echo ADMIN_PAGE_TITLE_NAME; ?></label>
				<div class="col-sm-10">
					<input required class="form-control" name="page_name" value="<?php echo $content["page_name"]; ?>" placeholder="Name">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"><?php echo ADMIN_PAGE_TITLE_CONTENT; ?></label>
				<div class="col-sm-10">
					<textarea required class="form-control" name="content" rows="10"><?php echo $content["content"]; ?></textarea>
				</div>
			</div>
		</div>

		<div class="tab-pane" id="images">
			<?php if(isset($content["images"]) && is_array($content["images"])): ?>
				<?php foreach($content["images"] as $image): ?>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-state-default admin_page_images_item">
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
							<img alt="<?php echo $image["image_name"]; ?>" style="max-width:100%;max-height:140px" src="<?php echo SUB_DIR; ?>image/pages/<?php echo $content["id"].'/'.$image["path"]; ?>">
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 input-group">
							<p><?php echo SUB_DIR; ?>image/pages/<?php echo $content["id"].'/'.$image["path"]; ?></p>
						</div>
						<input type="hidden" value="<?php echo $image["id"]; ?>" name="imagesdata[<?php echo $image["id"]; ?>][id]">
						<input type="hidden" value="0" name="imagesdata[<?php echo $image["id"]; ?>][delete]">
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
							<span class="glyphicon glyphicon-trash"></span>
						</div>
					</div>
				<?php endforeach; ?>
			<?php endif; ?>
		</div>

		<input type="hidden" name="flag" value="1">	
		<div class="admin_page_image_add col-xs-2 col-sm-2 col-md-2 col-lg-2" style="display:none;">
			<button class="btn btn-success" type="submit"><?php echo ADD_BUTTON_TITLE; ?></button>
		</div>		
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
			<a href="<?php echo SUB_DIR; ?>admin/pages" class="link btn btn-info"><?php echo BACK_BUTTON_TITLE; ?></a>
		</div>
		<div class="admin_page_save col-xs-2 col-sm-2 col-md-2 col-lg-2">
			<button class="btn btn-success" type="submit"><?php echo SAVE_BUTTON_TITLE; ?></button>
		</div>
	</div>
</form>


<script>

$(document).ready(function()
	{
	$("textarea[name*='content']").redactor();
	});
if(counter_once_checker==1)
	{
	(function()
		{
		$('head').append('<link rel="stylesheet" href="/view/admin/redactor.css">');
		$('head').append('<script src="/view/admin/redactor.min.js"><'+'/script>');
		})();

	$('#nav-tabs a').click(function (e) 
		{
		e.preventDefault();
		$(this).tab('show');
		})

	$('ul.nav.nav-tabs>li>a').click(function (e) 
		{
		($(this).attr('href')=='#images')?$('.admin_page_image_add').show():$('.admin_page_image_add').hide();
		});

	$(document).on('change','div.admin_page_images_item>div>input[name*="images"]',function()
		{
		if(this.files!=undefined)
			{
			var file=this.files[0],
				reader = new FileReader(),
				elem = $(this);
			reader.onload = function(e)
				{
				elem.parent().parent().children('div').children('img').attr('src',e.target.result);
				};
			reader.readAsDataURL(file);
			}
		});

	$(document).on('click','div.admin_page_images_item>div>span.glyphicon.glyphicon-trash',function()
		{
		var $row=$(this).parent().parent();
		if($row.children("input[name*='id']").val()=='-1')
			{
			$row.remove();	
			}
		else
			{
			$row.hide();
			$row.children("input[name*='delete']").val(1);	
			}
		});

	$(document).on('click','div.admin_page_image_add>button',function()
		{
		var new_position=0;
		$(this).parent().parent().children('#images').children('.admin_page_images_item').each(function()
			{
			var position=parseInt($(this).children("input[name*='id']").attr('name').substr(11));
			new_position=(position>=new_position)?(position+1):new_position;
			});
		var content='<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-state-default admin_page_images_item"><div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><img src="#" style="max-width:100%;max-height:140px"></div><div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 input-group"><input type="file" class="form-control" name="images['+new_position+']"></div><input type="hidden" name="imagesdata['+new_position+'][id]" value="-1"><input type="hidden" name="imagesdata['+new_position+'][delete]" value="0"><div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><span class="glyphicon glyphicon-trash"></span></div></div>';
		$(this).parent().parent().children('#images').append(content);
		return false;
		});

	$(document).on('click','div.admin_page_save>button',function()
		{
		$(this).parent().parent().children('#images').children('.admin_page_images_item').each(function(position)
			{
			$(this).children('input').each(function()
				{
				$(this).attr('name','imagesdata['+(position+1)+$(this).attr('name').substr(12));
				});
			$(this).children().children('input').each(function()
				{
				$(this).attr('name','images['+(position+1)+$(this).attr('name').substr(8));
				});
			});
		});
	}
</script>