<form class="form-horizontal" role="form" method="post" enctype="multipart/form-data" action="/admin/product/<?=$content['id'];?>">
	<div class="tab-content admin-product-tab">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#general" data-toggle="tab">General</a></li>
			<li><a href="#params" data-toggle="tab">Params</a></li>
			<li><a href="#images" data-toggle="tab">Images</a></li>
		</ul>
		<div class="tab-pane active" id="general"><?=$content['general'];?></div>
		<div class="tab-pane" id="params"><?=$content['params'];?></div>
		<div class="tab-pane" id="images"><?=$content['images'];?></div>
		<input type="hidden" name="flag" value="1">
		<div class="admin-param-add col-xs-2 col-sm-2 col-md-2 col-lg-2" style="display:none;">
			<button class="btn btn-success" type="submit">Добавить</button>
		</div>		
		<div class="admin-image-add col-xs-2 col-sm-2 col-md-2 col-lg-2" style="display:none;">
			<button class="btn btn-success" type="submit">Добавить</button>
		</div>		
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
			<a href="<?= SUB_DIR; ?>admin/products" class="link btn btn-info">Назад</a>
		</div>
		<div class="admin-product-save col-xs-2 col-sm-2 col-md-2 col-lg-2">
			<button class="btn btn-success" type="submit">Сохранить</button>
		</div>
	</div>
</form>


<script>
/*(function()
	{
	$('head').append('<link rel="stylesheet" href="/view/admin/redactor.css">');
	$('head').append('<script src="/view/admin/redactor.min.js"><'+'/script>');
	})();
$(document).ready(function()
	{
	$("textarea[name*='description']").redactor();
	});*/
$(function()
	{
	$('#images').sortable({distance: 15,placeholder: "ui-state-highlight",axis:'y',forcePlaceholderSize:true});
	});

$('ul.nav.nav-tabs>li>a').click(function (e) 
	{
	($(this).attr('href')=='#params')?$('.admin-param-add').show():$('.admin-param-add').hide();
	($(this).attr('href')=='#images')?$('.admin-image-add').show():$('.admin-image-add').hide();
	});

$(document).on('click','div.product_params_item>div>span.glyphicon.glyphicon-trash',function()
	{
	var $row=$(this).parent().parent();
	if($row.children("input[name*='new']").val()=='1')
		{
		$row.remove();	
		}
	else
		{
		$row.hide();
		$row.children("input[name*='delete']").val(1);	
		}
	});

$(document).on('change','div.product_images_item>div>input[name*="images"]',function()
	{
	if(this.files!=undefined)
		{
		var file=this.files[0],
			reader = new FileReader(),
			elem = $(this);
		reader.onload = function(e)
			{
			elem.parent().parent().children('div').children('img').attr('src',e.target.result);
			};
		reader.readAsDataURL(file);
		}
	});

$(document).on('click','div.product_images_item>div>span.glyphicon.glyphicon-eye-open',function()
	{
	var $editor=$(this).parent().parent();
	$editor.children("input[name*='visible']").val(0);
	$editor.css('opacity',0.5);
	$(this).removeClass('glyphicon-eye-open').addClass('glyphicon-eye-close');
	});

$(document).on('click','div.product_images_item>div>span.glyphicon.glyphicon-eye-close',function()
	{
	var $editor=$(this).parent().parent();
	$editor.children("input[name*='visible']").val(1);
	$editor.css('opacity',1);
	$(this).removeClass('glyphicon-eye-close').addClass('glyphicon-eye-open');
	});

$(document).on('click','div.product_images_item>div>span.glyphicon.glyphicon-trash',function()
	{
	var $row=$(this).parent().parent();
	if($row.children("input[name*='id']").val()=='-1')
		{
		$row.remove();	
		}
	else
		{
		$row.hide();
		$row.children("input[name*='delete']").val(1);	
		}
	});

$(document).on('click','div.admin-param-add>button',function()
	{
	var new_position=0;
	$(this).parent().parent().children('#params').children('.product_params_item').each(function()
		{
		var position=parseInt($(this).children("input[name*='new']").attr('name').substr(7));
		new_position=(position>=new_position)?(position+1):new_position;
		});
	var content='<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 product_params_item"><div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 input-group"><select class="form-control" name="params['+new_position+'][params]" required=""><?=$content['options'];?></select></div><div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 input-group"><input type="text" class="form-control" name="params['+new_position+'][value]" value="" required="required" placeholder="Param value"></div><input type="hidden" name="params['+new_position+'][new]" value="1"><input type="hidden" name="params['+new_position+'][delete]" value="0"><div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><span class="glyphicon glyphicon-trash"></span></div></div>';
	$(this).parent().parent().children('#params').append(content);
	return false;
	});

$(document).on('click','div.admin-image-add>button',function()
	{
	var new_position=0;
	$(this).parent().parent().children('#images').children('.product_images_item').each(function()
		{
		var position=parseInt($(this).children("input[name*='id']").attr('name').substr(11));
		new_position=(position>=new_position)?(position+1):new_position;
		});
	var content='<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-state-default product_images_item"><div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 input-group"><img src="#" style="max-width:100%;max-height:140px"></div><div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 input-group"><input type="file" class="form-control" name="images['+new_position+']"></div><input type="hidden" name="imagesdata['+new_position+'][id]" value="-1"><input type="hidden" name="imagesdata['+new_position+'][delete]" value="0"><input type="hidden" name="imagesdata['+new_position+'][visible]" value="1"><div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><span class="glyphicon glyphicon-eye-open"></span></div><div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><span class="glyphicon glyphicon-trash"></span></div></div>';
	$(this).parent().parent().children('#images').append(content);
	return false;
	});

$(document).on('click','div.admin-product-save>button',function()
	{
	//return false;
	/*$(this).parent().parent().children('#admin_countries_editor').children('.admin_countries_item').each(function(position)
		{
		$(this).children().children('.form-control').prop('disabled',false);
		});*/
	});
</script>